<div>
  <h1>Mpl Ajax Loader Usage</h1>

  
  <div class="app">
    <mpl-ajax-loader [loaderId]="'GET_USERS'" [options]="{'classNames': 'test'}"></mpl-ajax-loader>
  </div>

  <div>
    <button class="btn" (click)="getUsers()">Get Users</button>
    <button class="btn" (click)="progress()">Progress</button>
    <button class="btn" (click)="error()">Error</button>
    <button class="btn" (click)="cancel()">Cancel</button>
    <button class="btn" (click)="success()">Success</button>
  </div>

  <div>
    <pre>{{ user | json }}</pre>
  </div>







</div>